@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.highlight-color {
  color: #1976d2;
}

.secondary-color {
  color: #80879e;
}

.main-color {
  color: #272343;
}
